#include included_prop.config #would through an error if file was missing
#includeif C:\_DEV\does.not.exist.prop #does not throw an error even though missing

# this is where the work is
name=kareem
surname=shabazz
fullname=${name} ${surname}
kareem.shabazz=this is my full name
nested=${${name}.${surname}}
imported=${db.password.all}
temp.dir=${sys.java.io.tmpdir}
boolean.prop=false
boolean.prop2=true
integer.valid.prop=10
integer.invalid.prop=Bang
integer.blank.prop=
